.mynavbar{
    background-color:red;
    padding:20px;
    display:flex;
    justify-content: space-between;
    border-radius: 60px;
    }

a{text-decoration: none;
    
}
mylogo{
    height: auto;
    size:auto;

}
.unorderedlist{
    display: flex;
    gap: 60PX;
}

